[push]
	default = simple

[pull]
	rebase = true

[status]
	showUntrackedFiles = all

[merge]
	conflictstyle = diff3

[core]
	excludesfile = ~/.gitignore

[alias]
	amend-commit = commit --amend
	dir = rev-parse --git-common-dir
	git = !git
	pop = stash pop
	pr = !gh pr
	root = rev-parse --show-toplevel
	tig = !tig
	uncommit = reset --soft HEAD^
	unstage = reset HEAD

	# typos.
	ad = add
	ads = add
	ceckout = checkout
	checkoutt = checkout
	comit = commit
	commid = commit
	dad = add
	dd = add
	dif = diff
	idff = diff
	pish = push
	puh = push
	puhs = push
	s = status
	stauts = status
	sttaus = status
	sttus = status
	tatus = status
	upll = pull

[init]
	defaultBranch = latest

[fetch]
	prune = true

[include]
	path = ~/.gitconfig-local

[includeIf "gitdir:~/.dotfiles"]
	path = ~/.gitconfig-dotfiles

[diff]
	wsErrorHighlight = all

# `man tigrc` for more options.
[tig]
	ignore-case = smart-case
	main-view-date = relative

[tig "bind"]
	generic = J move-page-down
	generic = K move-page-up

	generic = g move-first-line
	generic = G move-last-line
	main    = G move-last-line
