*.kbx
*.key
*.o
*.patch
*netrc
.DS_Store
._*
.git-outstanding.ignore
__pycache__

# home-dir things.
/.*_history
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.cache
/.cargo
/.config/chromium
/.config/dconf
/.config/enchant
/.config/fish/fish_variables
/.config/htop/htoprc
/.config/pavucontrol.ini
/.config/pulse
/.cups
/.fehbg
/.gem
/.gnupg
/.lesshst
/.local/bin/pipenv*
/.local/bin/virtualenv*
/.local/lib/python3.7/site-packages/clonevirtualenv*
/.local/lib/python3.7/site-packages/pipenv*
/.local/lib/python3.7/site-packages/virtualenv*
/.local/share/fish/fish_history
/.local/share/fish/generated_completions
/.local/share/luakit/*.db
/.local/share/luakit/command-history
/.local/share/luakit/indexeddb
/.local/share/recently-used.xbel
/.local/share/upplay
/.local/share/virtualenvs
/.local/share/webkitgtk
/.local/share/xorg
/.mozilla
/.mu/log
/.pki
/.pylint.d/*.stats
/.rustup
/.selected_editor
/.ssh
/.vim/.netrwhist
/.viminfo
/.w3m/cookie
/.w3m/history
/.xsession-errors

# dotfiles-specific.
/.dotfiles
