[user]
	email = eth@ethulhu.co.uk
	name = Ethel Morgan

[push]
	default = simple

[pull]
	rebase = true

[status]
	showUntrackedFiles = all

[merge]
	conflictstyle = diff3

[core]
	excludesfile = ~/.gitignore

[alias]
	amend-commit = commit --amend
	pop = stash pop
	uncommit = reset --soft HEAD^
	unstage = reset HEAD

	# typos.
	ads = add
	ceckout = checkout
	checkoutt = checkout
	commid = commit
	dad = add
	dd = add
	dif = diff
	idff = diff
	pish = push
	puh = push
	puhs = push
	s = status
	stauts = status
	sttaus = status
	sttus = status
	tatus = status
	upll = pull
[init]
	defaultBranch = latest
